<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campsite</title>
    <link rel="stylesheet" href="view.css">
</head>
<body>

        <!-- NAVBAR -->
        <nav>
            <div class="logo">CAMPSITE</div>
            <ul class="menu">
                <a href="../index.html">Home</a>
                <a href="../form/add.html">Add</a>
            </ul>
            <div class="search">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
        </nav>




    <!-- HEADER -->
    <header>
        <div class="view-header">
            <p class="continent">asia</p>
            <p>Camps</p>
        </div>
    </header>




    <!-- IMAGE GALLERY -->
    <div class="gallery">
        <div class="gallery-item"><img src="https://picsum.photos/1000/400" alt="Image 3"><p>Lorem Ipsum</p></div>
        <div class="gallery-item"><img src="https://picsum.photos/1300/600" alt="Image 2"><p>Lorem Ipsum</p></div>
        <div class="gallery-item"><img src="https://picsum.photos/1100/900" alt="Image 4"><p>Lorem Ipsum</p></div>
        <div class="gallery-item"><img src="https://picsum.photos/1800/1100" alt="Image 4"><p>Lorem Ipsum</p></div>
        <div class="gallery-item"><img src="https://picsum.photos/1600/1000" alt="Image 4"><p>Lorem Ipsum</p></div>
        <div class="gallery-item"><img src="https://picsum.photos/1300/500" alt="Image 4"><p>Lorem Ipsum</p></div>

    </div>

</body>
</html>
